<div class="container">
	<h2>For create new Room You need to input you name and key send to your friend</h2>
	<div class="clip-board">
		<p class="clip-key"><span>Key:</span> {{roomName}}</p> 
	</div>
	<div class="buttons">
		<button class="copy-button" mat-raised-button color="accent" (click)="copyText()">Copy</button>	
		<button class="new-button" mat-raised-button color="primary" (click)="generateNewName()">New Key</button>	
	</div>
		
		<form [formGroup]="form" class="form" action="">
			<h2>Enter your name</h2>
			<input formControlName="userName" class="input-name-room" type="text">

				<mat-error class="error-div" *ngIf="userNameInput.invalid">
					<mat-error class="error" *ngIf="userNameInput.errors?.minlength">Min length is 3</mat-error>
					<mat-error class="error" *ngIf="userNameInput.errors?.maxlength">Max length is 10</mat-error>
				</mat-error>	
					
			
		</form>
		
		<button mat-raised-button color="accent" (click)="createRoom()" [disabled]="form.invalid" class="btn-create-room">Create room</button>	
</div>